
body {
    background-color: rgba(207, 207, 207, 0.993);
    background-image: url(images/black-texture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, footer {
    text-align: left;
    background-color: black;
    color: #FBFBF8;
}

/* Header styling*/

header {
    border-bottom: 2px solid grey;
    margin-bottom: 3%;
}

header h1 {
    margin: 0;
    padding-top: 35px;
}

header p {
    padding-bottom: 35px;
    margin-bottom: 0;
    font-size: 12px;
}

/* Sets the overall width of the content in relation to the webpage itself */
main, .header {
    width: 75%;
    margin: auto;
}

/* Main Body */

.profile-pic {
    border: 3px solid black;
    display: block;
    width: 40%;
    max-width: 300px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 4px #000000;
}

.wrapper {
    border: 2px solid grey;
    margin: 3% 0%;
    padding: 1% 3%;
    border-radius: 5px;
    background-color: #FBFBF8;
    box-shadow: 2px 2px 4px #000000;
}

li {
    margin: 10px 0;
}

main {
    width: 65%;
    margin: auto;
}

main h2 {
    text-shadow: 0.75px 0.75px 1.5px #000000;
}

/* Diamond Breaks */

main hr {
    height: 15px;
    background-color: black;
    width: 15px;
    transform: rotate(45deg);
    box-shadow: 1px 1px 2px #000000;
}

/* Link Styling*/

a:link    { color: rgb(0, 2, 128);  }
a:visited { color: rgb(84, 133, 77);   }
a:hover   { color: rgb(6, 207, 6); }
a:active  { color: purple;  }

/* Contact section */

ul {
    list-style-type: none;
    padding: 15px 0;
    width: 30%;
    margin: auto;
    display:flex;
}

ul > li {
    display: inline-block;
    margin: auto;
}

.contact {
    width: 40px; 
}

/* Footer section */

footer h3 {
    font-size: 12px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0%;
    padding: 15px 0px;
    border-top: 2px solid grey;
}



